section > header {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 15px;
}

.alignRight {
  text-align-last: right;
}

body {
  border: 1px solid black;
}

myTag {
  color: red;
}

div {
  text-align: right:
}

.table table {
  border: 1px solid black;
}
